<?xml version="1.0" encoding="utf-8"?>
	<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.myapp53a834" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-US" android-versionCode="0">
		<name>IronRock Mobile Application</name>
		<description>IronRock Insurance Mobile Application for Brokers</description>
		<author href="http://courserv.com" email="cwalker@courserv.com">Courtney Walker</author>
		<content src="index.html" />
		<access origin="*.amazonaws.com" />
		<vs:features />
		<preference name="SplashScreen" value="screen" />
		<preference name="windows-target-version" value="8.1" />
		<!-- Support for Cordova 5.0.0 plugin system -->
		<plugin name="cordova-plugin-whitelist" version="1" />
		<allow-intent href="http://*/*" />
		<allow-intent href="https://*/*" />
		<allow-intent href="tel:*" />
		<allow-intent href="sms:*" />
		<allow-intent href="mailto:*" />
		<allow-intent href="geo:*" />
		<platform name="android">
			<allow-intent href="market:*" />
		</platform>

		<platform name="android">
			<icon src="res/icons/android/icon-36-ldpi.png" density="ldpi" />
			<icon src="res/icons/android/icon-48-mdpi.png" density="mdpi" />
			<icon src="res/icons/android/icon-72-hdpi.png" density="hdpi" />
			<icon src="res/icons/android/icon-96-xhdpi.png" density="xhdpi" />
		</platform>


		<platform name="android">
			<splash src="res/screens/android/screen-hdpi-landscape.png" density="land-hdpi" />
			<splash src="res/screens/android/screen-ldpi-landscape.png" density="land-ldpi" />
			<splash src="res/screens/android/screen-mdpi-landscape.png" density="land-mdpi" />
			<splash src="res/screens/android/screen-xhdpi-landscape.png" density="land-xhdpi" />
			<splash src="res/screens/android/screen-hdpi-portrait.png" density="port-hdpi" />
			<splash src="res/screens/android/screen-ldpi-portrait.png" density="port-ldpi" />
			<splash src="res/screens/android/screen-mdpi-portrait.png" density="port-mdpi" />
			<splash src="res/screens/android/screen-xhdpi-portrait.png" density="port-xhdpi" />
		</platform>

		<!--added July 18, 2016-->
		<vs:plugin name="cordova-plugin-device" version="1.1.1" />
		<preference name="android-minSdkVersion" value="1" />
		<preference name="android-maxSdkVersion" value="1" />
		<preference name="android-targetSdkVersion" value="1" />
		<preference name="ShowTitle" value="True" />
		<preference name="Orientation" value="landscape" />
		<!--<preference name="Fullscreen" value="True" />-->
		<preference name="Fullscreen" value="false" />
		<plugin name="cordova-plugin-device" version="1.1.1" />
	</widget>